<!DOCTYPE HTML>
<html>

<head>
    <title>DataBase status</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/DataBase.css">
</head>

<body>
    <div class="header">
        <h1>BLABLAMOVE administation center </h1>
    </div>
    <div class="content">
        <div class="contentBlock request">
            <li>
                Yep
            </li>
        </div>
        <div class="contentBlock result">
            <div>
                <span class="status">ok</span>
            </div>
        </div>
    </div>

</body>

</html>