* {
    margin:0;
    background-color: #0C4697;
    box-sizing: border-box;
}

h1 {
    color: #DFECFF;
    margin: 3px;
    padding: 10px;
    box-shadow: #021530
}


.content {
    width: 100%;
    height: 100%;
    background-color: #021530;
    margin:0;
}

.contentBlock {
    display: inline-block;
    border-color:  #588DD5;
    border-width: 1px;
    border-style: solid;
    margin:1%;
 
}

.request {
    width: 38%;
}

.result {
    width: 57%;
}